@import url(https://fonts.googleapis.com/css?family=Bowlby+One+SC:regular);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #ffffff;
  line-height: 1;
  font-family: "Bowlby One SC";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Bowlby One SC";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 90rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[data-fullscreen] {
  min-height: 100vh;
}
.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}
@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    transition: height 0.2s;
  }
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.button {
  padding: 13px 15px;
  background: #00f1f8;
  background: -moz-linear-gradient(top, #00f1f8 0%, #311256 100%);
  background: -webkit-linear-gradient(top, #00f1f8 0%, #311256 100%);
  background: linear-gradient(to bottom, #00f1f8 0%, #311256 100%);
  box-shadow: inset 0px 3px 6px #ffffff;
  border-radius: 28px;
}

.header {
  padding: 39px 0px 33px 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
.header__container {
  display: flex;
  align-items: center;
  column-gap: 2.4375rem;
}
.header__logo-ibg {
  flex: 0 0 13.75rem;
  height: 9.4375rem;
}
.header__button {
  flex: 0 0 13.25rem;
}

.menu {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 auto;
}
@media (max-width: 61.99875em) {
  .menu__body {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    left: -100%;
  }
}
.menu__list {
  display: flex;
}
@supports (column-gap: clamp( 1.5625rem , -24.8786764706rem  +  42.6470588235vw , 3.375rem )) {
  .menu__list {
    column-gap: clamp( 1.5625rem , -24.8786764706rem  +  42.6470588235vw , 3.375rem );
  }
}
@supports not (column-gap: clamp( 1.5625rem , -24.8786764706rem  +  42.6470588235vw , 3.375rem )) {
  .menu__list {
    column-gap: calc(1.5625rem + 1.8125 * (100vw - 62rem) / 4.25);
  }
}
.menu__link {
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #00f1f8;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.main {
  padding: 223px 0px 50px 0px;
  position: relative;
}
.main .toolbar {
  display: none !important;
}
.main__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.main__bg_2 {
  left: -31%;
}
.main__bg_3 {
  left: 25%;
}
.main__container {
  max-width: 87.5rem;
  box-shadow: inset 0px 0px 40px #000000;
  border: 8px solid #00f1f8;
  border-radius: 51px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  position: relative;
  z-index: 3;
}
.main__body {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 48px 0 88px 0;
}
@supports (padding-left: clamp( 3.125rem , -22.8928571429rem  +  41.9642857143vw , 14.875rem )) {
  .main__body {
    padding-left: clamp( 3.125rem , -22.8928571429rem  +  41.9642857143vw , 14.875rem );
  }
}
@supports not (padding-left: clamp( 3.125rem , -22.8928571429rem  +  41.9642857143vw , 14.875rem )) {
  .main__body {
    padding-left: calc(3.125rem + 11.75 * (100vw - 62rem) / 28);
  }
}
@supports (padding-right: clamp( 3.125rem , -18.0491071429rem  +  34.1517857143vw , 12.6875rem )) {
  .main__body {
    padding-right: clamp( 3.125rem , -18.0491071429rem  +  34.1517857143vw , 12.6875rem );
  }
}
@supports not (padding-right: clamp( 3.125rem , -18.0491071429rem  +  34.1517857143vw , 12.6875rem )) {
  .main__body {
    padding-right: calc(3.125rem + 9.5625 * (100vw - 62rem) / 28);
  }
}
@media (max-width: 61.99875em) {
  .main__body {
    flex-direction: column;
  }
}
.main__content {
  flex: 1 1 auto;
  padding: 0px 0px 20px 0px;
}
@supports (margin-right: clamp( 1.875rem , 1.6755319149rem  +  10.6382978723vw , 11.25rem )) {
  .main__content {
    margin-right: clamp( 1.875rem , 1.6755319149rem  +  10.6382978723vw , 11.25rem );
  }
}
@supports not (margin-right: clamp( 1.875rem , 1.6755319149rem  +  10.6382978723vw , 11.25rem )) {
  .main__content {
    margin-right: calc(1.875rem + 9.375 * (100vw - 1.875rem) / 88.125);
  }
}
.main__title {
  font-size: 1.875rem;
}
.main__title:not(:last-child) {
  margin-bottom: 1.6875rem;
}
.main__text {
  max-width: 24.6875rem;
  line-height: 140%;
}
.main__text:not(:last-child) {
  margin-bottom: 2.875rem;
}
.main__button {
  width: 100%;
  transition: transform 0.3s ease 0s;
  height: 66px;
}
@media (any-hover: hover) {
  .main__button:hover {
    transform: scale(1.2);
  }
}
.main__image-ibg {
  flex: 0 0 21.6875rem;
  height: 28.5625rem;
}
@media (max-width: 61.99875em) {
  .main__image-ibg {
    width: 300px;
  }
}
